{% extends 'blank.html' %}

{% block main-content %}
    {% include 'layout/m-navbar.html' %}
    <main class="m-5 content-wrapper">
        <div class="row m-5">

            <div class="col col-xs-12 col-md-5">
                <div class="box ">
                    <div class="box-header">
                        <h4 class="box-title h4">Profile</h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="box-widget widget-user">
                            <div class="widget-user-header bg-aqua-gradient">
                                <h3 class="widget-user-username">{{ object.user.get_full_name | capfirst }}</h3>
                                <h5 class="widget-user-desc">{{ object.domaine.first }}</h5>
                            </div>
                            <div class="widget-user-image">
                                <img src="{{ MEDIA_URL }}{{ object.img_url }}" class="img-circle circle"
                                     alt="pas d'image">
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">{{ object.domaine.count }}</h5>
                                            <span class="description-text">DOMAINES</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4 border-right">
                                        <div class="description-block">
                                            <h5 class="description-header">{{ object.relation.count }}</h5>
                                            <span class="description-text">Contacts</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-4">
                                        <div class="description-block">
                                            <h5 class="description-header">{{ object.projet_set.count }}</h5>
                                            <span class="description-text">Projet(s)</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <ul class="nav nav-stacked">
                                    <li></li>
                                </ul>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col col-xs-12 col-md-5">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Biographie</h3>
                        <div class="box-tools">
                            <button class="btn btn-box-tool pull-right" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <p>
                            {{ object.bio }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="col col-xs-12 ml-1">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h1 class="box-title">Projets</h1>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="list-group">
                            {% for foo in  object.projet_set.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'dashboard' foo.id %}" class="black-text">
                                        {{ foo.nom }}
                                    </a>
                                </li>
                            {% empty %}
                                Pas de projet
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main-content %}